{% extends 'base.html' %}

{% block header %}
<h1>投稿一覧</h1>
{% endblock header %}

{% block content %}
<div class="container">
    {% for post in post_list %}
        <div class="alert alert-primary" role="alert">
            <p>タイトル: {{ post.title }}</p>
            <p>投稿者: {{ post.author }}</p>
            <a href="{% url 'good' post.pk %}" class="btn btn-primary btn-lg" tabindex="-1" role="button">いいね:{{post.good}}</a>
            <a href="{% url 'read' post.pk %}" class="btn btn-primary btn-lg" tabindex="-1" role="button">既読:{{post.read}}</a>
        </div>
    {% endfor %}
    <a href="{% url 'logout' %}">ログアウト</a>
</div>
{% endblock content %}